.page-header {
    display: inline-block;
    width: 50%;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: $color-one-light;
    color: $color-two-dark;
    opacity: 0;
    transition: opacity 1s ease;
    @mixin atSmall {
        width: 30%;
        height: 3rem;
    }
    &__text {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1rem;
        line-height: 2rem;
        transition: opacity 1s ease-in-out;
        @mixin atSmall {
            line-height: 3rem;
            font-size: 2rem;
        }
    }
}

.is-shown {
    opacity: 1;
}

.odd-style {
    background-color: $color-two-light;
    color: $color-one-dark;
}