.page-header {
    display: inline-block;
    width: 100vw;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: $color-one-light;
    color: $color-two-dark;
    opacity: 0;
    transition: opacity 1s ease;
    @mixin atSmall {
        //width: 30%;
        height: 4rem;
    }
    &__text {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1rem;
        line-height: 2rem;
        transition: opacity 1s ease-in-out;
        @mixin atSmall {
            line-height: 4rem;
            font-size: 3rem;
        }
    }
    /* The progress container (grey background) */
    &__progress-container {
        width: 100%;
        height: .6rem;
        background: #ccc;
    }
    /* The progress bar (scroll indicator) */
    &__progress-bar {
        height: .6rem;
        background: linear-gradient(to right bottom, rgba($color-one-light, .9), rgba($color-two-light, .9));
        width: 0%;
    }
}

.is-shown {
    opacity: 1;
}

.odd-style {
    background-color: $color-two-light;
    color: $color-one-dark;
}