.page-header {
    display: inline-block;
    width: 100vw;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: $color-one-light;
    color: $color-two-dark;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 1s ease;
    @mixin atSmall {
        height: 4rem;
        font-size: 1.5rem;
    }
    @mixin atLarge {
        height: 4.5rem;
        font-size: 2rem;
    }
    &__text {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1rem;
        line-height: 2rem;
        transition: opacity 1s ease-in-out;
        @mixin atSmall {
            line-height: 4rem;
            font-size: 3rem;
        }
    }
    /* The progress container (grey background) */
    &__progress-container {
        width: 100%;
        height: .6rem;
        background: #ccc;
    }
    /* The progress bar (scroll indicator) */
    &__progress-bar {
        height: .6rem;
        background: linear-gradient(to right bottom, rgba($color-one-light, .9), rgba($color-two-light, .9));
        width: 0%;
    }
}

.primary-nav {
    float: right;
    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }
    li {
        list-style: none;
        float: left;
        padding-right: 2rem;
        padding-top: 0.2rem;
        @mixin atSmall {
            padding-right: 2rem;
            padding-top: .5rem;
        }
        @mixin atMedium {
            padding-right: 3rem;
            padding-top: .5rem;
        }
        @mixin atLarge {
            padding-right: 5rem;
            padding-top: .5rem;
        }
        @mixin atLarger {
            padding-right: 7rem;
            padding-top: .5rem;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

.is-shown {
    opacity: 1;
}

.odd-style {
    background-color: $color-two-light;
    color: $color-one-dark;
}

.highlighted {
    background-color: rgba($color-white, .8);
    font-weight: bolder;
    padding: .55rem 1.2rem;
}